.map {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fbfcea;
  	overflow: hidden;
  	text-align: left;
  	font-size: 12px;
  	color: #000;
  	font-family: 'Kosugi Maru';
}
.body {
  	position: absolute;
  	top: 66px;
  	left: 0px;
  	width: 393px;
  	height: 786px;
  	overflow: hidden;
}
.map2 {
  	position: absolute;
  	top: 50px;
  	left: 7px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 378px;
  	height: 730px;
  	overflow: hidden;
}
.icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 378px;
  	height: 730px;
  	object-fit: cover;
}
.div {
  	position: absolute;
  	top: 583px;
  	left: 0px;
  	border-radius: 10px 10px 0px 0px;
  	background-color: #fbfcea;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 378px;
  	height: 147px;
  	overflow: hidden;
}
.div2 {
  	position: absolute;
  	top: 79px;
  	left: 10px;
  	border-radius: 5px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 358px;
  	height: 51px;
  	overflow: hidden;
}
.div3 {
  	position: absolute;
  	top: 26px;
  	left: 32px;
  	display: flex;
  	align-items: center;
  	width: 320px;
  	height: 19px;
}
.icon2 {
  	position: absolute;
  	top: 26px;
  	left: 10px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
}
.div4 {
  	position: absolute;
  	top: 6px;
  	left: 32px;
  	font-size: 15px;
  	display: flex;
  	align-items: center;
  	width: 277px;
  	height: 16px;
}
.div5 {
  	position: absolute;
  	top: 21px;
  	left: 10px;
  	border-radius: 5px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 358px;
  	height: 51px;
  	overflow: hidden;
}
.div6 {
  	position: absolute;
  	top: 26px;
  	left: 32px;
  	display: flex;
  	align-items: center;
  	width: 305px;
  	height: 19px;
}
.icon3 {
  	position: absolute;
  	top: 25px;
  	left: 10px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
}
.div8 {
  	position: absolute;
  	top: 8px;
  	left: 178px;
  	border-top: 2px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 22px;
  	height: 2px;
}
.icon4 {
  	position: absolute;
  	top: 211px;
  	left: 181px;
  	width: 36px;
  	height: 46px;
  	object-fit: cover;
}
.icon5 {
  	position: absolute;
  	top: 222px;
  	left: 251px;
  	width: 36px;
  	height: 46px;
  	object-fit: cover;
}
.div9 {
  	position: absolute;
  	top: 54px;
  	left: 12px;
  	border-radius: 5px;
  	background-color: #fbfcea;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 255px;
  	height: 38px;
  	overflow: hidden;
  	font-size: 15px;
}
.icon6 {
  	position: absolute;
  	top: 10px;
  	left: 181px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon7 {
  	position: absolute;
  	top: 5px;
  	left: 198px;
  	width: 29px;
  	height: 29px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.my {
  	position: absolute;
  	top: 0px;
  	left: 230px;
  	display: flex;
  	align-items: center;
  	width: 50px;
  	height: 38px;
  	flex-shrink: 0;
}
.icon8 {
  	position: absolute;
  	top: 12px;
  	left: 90px;
  	width: 15px;
  	height: 15px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon9 {
  	position: absolute;
  	top: 7px;
  	left: 107px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group {
  	position: absolute;
  	top: 0px;
  	left: 137px;
  	display: flex;
  	align-items: center;
  	width: 50px;
  	height: 38px;
  	flex-shrink: 0;
}
.icon10 {
  	position: absolute;
  	top: 10px;
  	left: 11px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon11 {
  	position: absolute;
  	top: 7px;
  	left: 30px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.all {
  	position: absolute;
  	top: 0px;
  	left: 61px;
  	display: flex;
  	align-items: center;
  	width: 50px;
  	height: 38px;
  	flex-shrink: 0;
}
.div10 {
  	position: absolute;
  	top: 6px;
  	left: 12px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 368px;
  	height: 36px;
  	overflow: hidden;
}
.bottonIcon {
  	position: absolute;
  	top: 8px;
  	left: 342px;
  	width: 19px;
  	height: 19px;
  	object-fit: cover;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 22px;
  	font-family: 'M PLUS 2';
}
.headChild {
  	position: absolute;
  	top: 63.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 394px;
  	height: 1px;
}
.spotjam {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 64px;
}

