:root {
    --yusei-magic-font-family: "Yusei Magic", Helvetica;
    --yusei-magic-font-size: 10px;
    --yusei-magic-font-style: normal;
    --yusei-magic-font-weight: 400;
    --yusei-magic-letter-spacing: 0px;
    --yusei-magic-line-height: normal;
}
