.post {
  background-color: #fbfcea;
  min-height: 852px;
  min-width: 393px;
  position: relative;
  width: 100%;
}

.body {
  display: flex;
  height: 789px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 393px;
}

.POST {
  border: 1px solid;
  border-color: #00000033;
  height: 763px;
  margin-left: 11px;
  margin-top: 10px;
  position: relative;
  width: 371px;
}

.text {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  left: 342px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 736px;
  width: 29px;
}

.div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Kosugi Maru-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 19px;
  justify-content: center;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 739px;
  width: 305px;
}

.image {
  aspect-ratio: 1;
  height: 18px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 739px;
  width: 18px;
}

.text2 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Kosugi Maru-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 19px;
  justify-content: center;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 719px;
  width: 305px;
}

.img {
  aspect-ratio: 1;
  height: 18px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 718px;
  width: 18px;
}

.text3 {
  color: #000000;
  font-family: "Kosugi Maru-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 414px;
  width: 347px;
}

.text4 {
  align-items: center;
  color: #00000080;
  display: flex;
  font-family: "Kosugi Maru-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 18px;
  justify-content: center;
  left: 333px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 376px;
  width: 28px;
}

.text5 {
  color: #000000;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 376px;
  width: 308px;
}

.view {
  background-image: url("/images/detail/image-2-1.png");
  background-position: center;
  background-size: cover;
  border: 1px solid #00000033;
  height: 326px;
  width: 351px;
  position: absolute;
  top: 46px;
  left: 10px;
}


.text6 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Kosugi Maru-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 18px;
  justify-content: center;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  width: 350px;
}

.image2 {
  aspect-ratio: 1;
  height: 31px;
  left: 334px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 34px;
}

.image3 {
  aspect-ratio: 0.93;
  height: 24px;
  left: 319px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.image4 {
  aspect-ratio: 1;
  height: 32px;
  left: 291px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 36px;
}

.text7 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP-SemiBold", Helvetica;
  font-size: 10px;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 70px;
}

.image5 {
  aspect-ratio: 1;
  height: 20px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}

.head {
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.text8 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "M PLUS 2-Bold", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 393px;
}

.line {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 393px;
}
