.pw {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.3);
  	font-family: 'Noto Sans JP';
}
.bottomIcon {
  	position: absolute;
  	top: 787px;
  	left: 0px;
  	width: 393px;
  	height: 65px;
  	object-fit: cover;
}
.body {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	width: 393px;
  	height: 723px;
  	overflow: hidden;
}
.div {
  	position: absolute;
  	top: 114px;
  	left: 0px;
  	width: 393px;
  	height: 609px;
  	overflow: hidden;
}
.div2 {
  	position: absolute;
  	top: 163px;
  	left: 48px;
  	font-size: 10px;
  	font-weight: 600;
  	color: rgba(0, 0, 0, 0.5);
  	display: flex;
  	align-items: center;
  	width: 298px;
  	height: 17px;
}
.div3 {
  	position: absolute;
  	top: 119px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 298px;
  	height: 39px;
}
.icon {
  	position: absolute;
  	top: 122px;
  	left: 309px;
  	width: 33px;
  	height: 33px;
  	object-fit: cover;
}
.div4 {
  	position: absolute;
  	top: 125px;
  	left: 48px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 298px;
  	height: 27px;
}
.div5 {
  	position: absolute;
  	top: 69px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 298px;
  	height: 39px;
}
.icon2 {
  	position: absolute;
  	top: 72px;
  	left: 309px;
  	width: 33px;
  	height: 33px;
  	object-fit: cover;
}
.div6 {
  	position: absolute;
  	top: 75px;
  	left: 48px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 298px;
  	height: 27px;
}
.b {
  	position: absolute;
  	top: 24px;
  	left: 51px;
  	display: flex;
  	color: #000;
  	align-items: center;
  	width: 104px;
  	height: 40px;
}
.div7 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 114px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 20px;
  	color: #fff;
  	font-family: Inter;
}
.div8 {
  	position: absolute;
  	top: 46px;
  	left: 307px;
  	width: 45px;
  	height: 45px;
}
.child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: #ccd5ae;
}
.div9 {
  	position: absolute;
  	top: calc(50% - 13.5px);
  	left: calc(50% - 14.5px);
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 27px;
}
.div10 {
  	position: absolute;
  	top: 46px;
  	left: 240px;
  	width: 45px;
  	height: 45px;
}
.div12 {
  	position: absolute;
  	top: 45px;
  	left: 174px;
  	width: 45px;
  	height: 45px;
}
.div14 {
  	position: absolute;
  	top: 46px;
  	left: 107px;
  	width: 45px;
  	height: 45px;
}
.div16 {
  	position: absolute;
  	top: 46px;
  	left: 40px;
  	width: 45px;
  	height: 45px;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.b2 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 85.5px);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 171px;
  	height: 33px;
}

