.post {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fbfcea;
  	overflow: hidden;
  	text-align: center;
  	font-size: 12px;
  	color: #000;
  	font-family: 'Noto Sans JP';
}
.bottom {
  	position: absolute;
  	top: 799px;
  	left: 0px;
  	width: 393px;
  	height: 53px;
  	overflow: hidden;
  	text-align: left;
  	color: rgba(0, 0, 0, 0.5);
}
.b {
  	position: absolute;
  	top: 1px;
  	left: 351px;
  	display: flex;
  	align-items: center;
  	width: 29px;
  	height: 52px;
}
.b2 {
  	position: absolute;
  	top: 1px;
  	left: 104px;
  	display: flex;
  	align-items: center;
  	width: 243px;
  	height: 52px;
}
.b3 {
  	position: absolute;
  	top: 1px;
  	left: 64px;
  	display: flex;
  	align-items: center;
  	width: 43px;
  	height: 52px;
}
.b4 {
  	position: absolute;
  	top: 1px;
  	left: 18px;
  	display: flex;
  	align-items: center;
  	width: 46px;
  	height: 52px;
}
.body {
  	position: absolute;
  	top: 66px;
  	left: 0px;
  	width: 393px;
  	height: 734px;
  	overflow: hidden;
  	font-size: 13px;
}
.post3 {
  	position: absolute;
  	top: 514px;
  	left: 18px;
  	border-radius: 10px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 357px;
  	height: 212px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 10px;
}
.div {
  	position: absolute;
  	top: 191px;
  	left: 11px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 304px;
  	height: 16px;
}
.div2 {
  	position: absolute;
  	top: 162px;
  	left: 11px;
  	font-size: 11px;
  	font-family: 'Kosugi Maru';
  	display: inline-block;
  	width: 329px;
  	height: 29px;
}
.photo3Icon {
  	position: absolute;
  	top: 35px;
  	left: 261px;
  	width: 96px;
  	height: 120px;
  	object-fit: cover;
}
.photo2Icon {
  	position: absolute;
  	top: 35px;
  	left: 134px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
}
.photo1Icon {
  	position: absolute;
  	top: 35px;
  	left: 9px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
}
.icon {
  	position: absolute;
  	top: 4px;
  	left: 329px;
  	width: 28px;
  	height: 28px;
  	object-fit: cover;
}
.icon2 {
  	position: absolute;
  	top: 0px;
  	left: 304px;
  	width: 36px;
  	height: 36px;
  	object-fit: cover;
}
.div3 {
  	position: absolute;
  	top: 10px;
  	left: 9px;
  	font-size: 15px;
  	display: flex;
  	align-items: center;
  	width: 292px;
  	height: 16px;
}
.post2 {
  	position: absolute;
  	top: 297px;
  	left: 18px;
  	border-radius: 10px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 357px;
  	height: 212px;
  	overflow: hidden;
  	text-align: left;
}
.div4 {
  	position: absolute;
  	top: 187px;
  	left: 328px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 25px;
}
.div5 {
  	position: absolute;
  	top: 191px;
  	left: 11px;
  	font-size: 10px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 304px;
  	height: 16px;
}
.photo1Icon2 {
  	position: absolute;
  	top: 35px;
  	left: 8px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
}
.icon3 {
  	position: absolute;
  	top: 6px;
  	left: 332px;
  	width: 22px;
  	height: 24px;
  	object-fit: cover;
}
.div7 {
  	position: absolute;
  	top: 8px;
  	left: 11px;
  	font-size: 15px;
  	font-family: 'Kosugi Maru';
  	display: flex;
  	align-items: center;
  	width: 292px;
  	height: 16px;
}
.post1 {
  	position: absolute;
  	top: 79px;
  	left: 18px;
  	border-radius: 10px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 357px;
  	height: 212px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 10px;
}
.div8 {
  	position: absolute;
  	top: 191px;
  	left: 11px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 304px;
  	height: 16px;
  	flex-shrink: 0;
}
.div9 {
  	position: absolute;
  	top: 187px;
  	left: 328px;
  	font-size: 13px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 25px;
  	flex-shrink: 0;
}
.div10 {
  	position: absolute;
  	top: 162px;
  	left: 11px;
  	font-size: 11px;
  	font-family: 'Kosugi Maru';
  	display: inline-block;
  	width: 329px;
  	height: 29px;
  	flex-shrink: 0;
}
.photo2Icon2 {
  	position: absolute;
  	top: 35px;
  	left: 134px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.photo1Icon3 {
  	position: absolute;
  	top: 35px;
  	left: 9px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon5 {
  	position: absolute;
  	top: 2px;
  	left: 329px;
  	width: 28px;
  	height: 28px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon6 {
  	position: absolute;
  	top: -2px;
  	left: 304px;
  	width: 36px;
  	height: 36px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.shokumiTenkaHot {
  	position: absolute;
  	top: 8px;
  	left: 11px;
  	font-size: 15px;
  	font-family: 'Kosugi Maru';
  	display: flex;
  	align-items: center;
  	width: 277px;
  	height: 16px;
  	flex-shrink: 0;
}
.div11 {
  	position: absolute;
  	top: 150px;
  	left: 306px;
  	border-radius: 5px;
  	background-color: #fbfcea;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 48px;
  	height: 44px;
  	overflow: hidden;
  	flex-shrink: 0;
  	text-align: center;
}
.div12 {
  	position: absolute;
  	top: 0px;
  	left: 16px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 31px;
  	height: 22px;
}
.div13 {
  	position: absolute;
  	top: 22px;
  	left: 16px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 31px;
  	height: 21px;
}
.icon7 {
  	position: absolute;
  	top: 22px;
  	left: 0px;
  	width: 22px;
  	height: 22px;
  	object-fit: cover;
}
.icon8 {
  	position: absolute;
  	top: 4px;
  	left: 4px;
  	width: 14px;
  	height: 14px;
  	object-fit: cover;
}
.div14 {
  	position: absolute;
  	top: 50px;
  	left: 282px;
  	border-radius: 30px;
  	background-color: #ccd5ae;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 96px;
  	height: 21px;
  	overflow: hidden;
}
.div15 {
  	position: absolute;
  	top: 1px;
  	left: 8px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 69px;
  	height: 19px;
}
.arrHoso1Icon {
  	position: absolute;
  	top: 2px;
  	left: 74px;
  	width: 19px;
  	height: 19px;
  	object-fit: cover;
}
.div16 {
  	position: absolute;
  	top: 50px;
  	left: 177px;
  	border-radius: 30px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 88px;
  	height: 21px;
  	overflow: hidden;
}
.div17 {
  	position: absolute;
  	top: 1px;
  	left: 11px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 73px;
  	height: 19px;
}
.div18 {
  	position: absolute;
  	top: 50px;
  	left: 92px;
  	border-radius: 30px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 79px;
  	height: 21px;
  	overflow: hidden;
}
.div19 {
  	position: absolute;
  	top: 1px;
  	left: 14px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 59px;
  	height: 19px;
}
.div20 {
  	position: absolute;
  	top: 50px;
  	left: 17px;
  	border-radius: 30px;
  	background-color: #ccd5ae;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 69px;
  	height: 21px;
  	overflow: hidden;
}
.chH1Icon {
  	position: absolute;
  	top: 2px;
  	left: 4px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
}
.div21 {
  	position: absolute;
  	top: 1px;
  	left: 15px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 51px;
  	height: 19px;
}
.div22 {
  	position: absolute;
  	top: 6px;
  	left: 13px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 368px;
  	height: 36px;
  	overflow: hidden;
}
.icon9 {
  	position: absolute;
  	top: 8px;
  	left: 342px;
  	width: 19px;
  	height: 19px;
  	object-fit: cover;
}
.head {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	font-size: 22px;
  	font-family: 'M PLUS 2';
}
.headChild {
  	position: absolute;
  	top: 63.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 394px;
  	height: 1px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.spotjam {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 64px;
}
.icon10 {
  	position: absolute;
  	top: 10px;
  	left: 338px;
  	border-radius: 100px;
  	width: 45px;
  	height: 45px;
}

