.id {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.6);
  	font-family: 'Noto Sans JP';
}
.bottomIcon {
  	position: absolute;
  	top: 787px;
  	left: 0px;
  	width: 393px;
  	height: 65px;
  	object-fit: cover;
}
.body {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	width: 393px;
  	height: 722px;
  	overflow: hidden;
}
.div {
  	position: absolute;
  	top: 127px;
  	left: 0px;
  	width: 394px;
  	height: 597px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.icon {
  	position: absolute;
  	top: 251px;
  	left: calc(50% + 2px);
  	border-radius: 10px;
  	width: 146px;
  	height: 28px;
}
.b {
  	position: absolute;
  	top: 251px;
  	left: 199px;
  	font-size: 12px;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 146px;
  	height: 28px;
}
.icon2 {
  	position: absolute;
  	top: 251px;
  	left: calc(50% - 149px);
  	border-radius: 10px;
  	width: 146px;
  	height: 28px;
}
.b2 {
  	position: absolute;
  	top: 251px;
  	left: 48px;
  	font-size: 12px;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 146px;
  	height: 28px;
}
.div2 {
  	position: absolute;
  	top: 204px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 298px;
  	height: 39px;
}
.div3 {
  	position: absolute;
  	top: 210px;
  	left: 48px;
  	font-weight: 600;
  	color: rgba(0, 0, 0, 0.3);
  	display: flex;
  	align-items: center;
  	width: 298px;
  	height: 27px;
}
.div4 {
  	position: absolute;
  	top: 160px;
  	left: 51px;
  	font-weight: 600;
  	color: #000;
  	display: flex;
  	align-items: center;
  	width: 109px;
  	height: 40px;
}
.icon3 {
  	position: absolute;
  	top: 102px;
  	left: calc(50% - 149px);
  	border-radius: 10px;
  	width: 298px;
  	height: 28px;
}
.b3 {
  	position: absolute;
  	top: 102px;
  	left: 48px;
  	font-size: 12px;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 298px;
  	height: 28px;
}
.id2 {
  	position: absolute;
  	top: 55px;
  	left: 45px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 298px;
  	height: 39px;
}
.id3 {
  	position: absolute;
  	top: 61px;
  	left: 48px;
  	font-weight: 600;
  	color: rgba(0, 0, 0, 0.3);
  	display: flex;
  	align-items: center;
  	width: 298px;
  	height: 27px;
}
.b4 {
  	position: absolute;
  	top: 11px;
  	left: 51px;
  	display: flex;
  	color: #000;
  	align-items: center;
  	width: 109px;
  	height: 40px;
}
.div5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 127px;
  	overflow: hidden;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 20px;
  	color: #fff;
  	font-family: Inter;
}
.div6 {
  	position: absolute;
  	top: 46px;
  	left: 307px;
  	width: 45px;
  	height: 45px;
}
.child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: rgba(204, 213, 174, 0.4);
}
.div7 {
  	position: absolute;
  	top: calc(50% - 13.5px);
  	left: calc(50% - 14.5px);
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 27px;
}
.div8 {
  	position: absolute;
  	top: 46px;
  	left: 240px;
  	width: 45px;
  	height: 45px;
}
.item {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: #ccd5ae;
}
.div10 {
  	position: absolute;
  	top: 45px;
  	left: 174px;
  	width: 45px;
  	height: 45px;
}
.div12 {
  	position: absolute;
  	top: 46px;
  	left: 107px;
  	width: 45px;
  	height: 45px;
}
.div14 {
  	position: absolute;
  	top: 46px;
  	left: 40px;
  	width: 45px;
  	height: 45px;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.b5 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 85.5px);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 171px;
  	height: 33px;
}

