.div {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fbfcea;
  	overflow: hidden;
  	text-align: center;
  	font-size: 11px;
  	color: #000;
  	font-family: 'Noto Sans JP';
}
.bottom {
  	position: absolute;
  	top: 799px;
  	left: 0px;
  	width: 393px;
  	height: 53px;
  	overflow: hidden;
}
.body {
  	position: absolute;
  	top: 64px;
  	left: 0px;
  	width: 394px;
  	height: 735px;
  	overflow: hidden;
  	text-align: left;
}
.div2 {
  	position: absolute;
  	top: 85px;
  	left: 0px;
  	width: 393px;
  	height: 39px;
  	overflow: hidden;
}
.child {
  	position: absolute;
  	top: 35.5px;
  	left: 13.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 368px;
  	height: 1px;
  	transform:  rotate(0.2deg);
  	transform-origin: 0 0;
}
.icon {
  	position: absolute;
  	top: 7px;
  	left: 361px;
  	width: 19px;
  	height: 19px;
  	object-fit: cover;
}
.div3 {
  	position: absolute;
  	top: 1px;
  	left: 45px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 309px;
  	height: 30px;
  	overflow: hidden;
}
.div4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 309px;
  	height: 30px;
}
.icon2 {
  	position: absolute;
  	top: 7px;
  	left: 19px;
  	width: 19px;
  	height: 19px;
  	object-fit: cover;
}
.div5 {
  	position: absolute;
  	top: 45px;
  	left: 0px;
  	width: 393px;
  	height: 39px;
  	overflow: hidden;
}
.div8 {
  	position: absolute;
  	top: 5px;
  	left: 0px;
  	width: 393px;
  	height: 37px;
  	overflow: hidden;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	font-size: 22px;
  	font-family: 'M PLUS 2';
}
.headChild {
  	position: absolute;
  	top: 63.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 394px;
  	height: 1px;
}
.div11 {
  	position: absolute;
  	top: 9px;
  	left: 340px;
  	border-radius: 100px;
  	background-color: #fbfcea;
  	width: 45px;
  	height: 45px;
  	overflow: hidden;
}
.baecf8ff5541f519ffe4fd397b5f0c {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	width: 24px;
  	height: 20px;
}
.folderAdd1Icon {
  	position: absolute;
  	top: 9px;
  	left: 7px;
  	width: 31px;
  	height: 29px;
}
.spotjam {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 64px;
}
.menuIcon {
  	position: absolute;
  	top: 19px;
  	left: 13px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}
.icon7 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 196.5px);
  	width: 394px;
  	height: 853px;
}
.div12 {
  	position: absolute;
  	top: 617px;
  	left: 0px;
  	width: 394px;
  	height: 236px;
  	overflow: hidden;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.3);
}
.div13 {
  	position: absolute;
  	top: 9px;
  	left: 0px;
  	border-radius: 25px 25px 0px 0px;
  	background-color: #fff;
  	width: 393px;
  	height: 226px;
}
.div14 {
  	position: absolute;
  	top: 176px;
  	left: 30px;
  	border-radius: 20px;
  	background-color: #a4b277;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 335px;
  	height: 34px;
  	overflow: hidden;
  	color: #fbfcea;
}
.div15 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 335px;
  	height: 34px;
}
.div16 {
  	position: absolute;
  	top: 143px;
  	left: 327px;
  	font-size: 10px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 36px;
  	height: 18px;
}
.div17 {
  	position: absolute;
  	top: 106px;
  	left: 30px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.5);
  	box-sizing: border-box;
  	width: 335px;
  	height: 37px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 12px;
}
.div18 {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 334px;
  	height: 37px;
}
.div19 {
  	position: absolute;
  	top: calc(50% - 99px);
  	left: calc(50% - 197px);
  	font-size: 20px;
  	font-weight: 600;
  	color: #000;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 62px;
}
.icon8 {
  	position: absolute;
  	top: 33px;
  	left: 13px;
  	width: 22px;
  	height: 29px;
  	object-fit: cover;
}

