.div {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.3);
  	font-family: 'Noto Sans JP';
}
.bottom {
  	position: absolute;
  	top: 787px;
  	left: 0px;
  	width: 393px;
  	height: 65px;
  	overflow: hidden;
}
.bottomChild {
  	position: absolute;
  	top: 6px;
  	left: 299px;
  	width: 45px;
  	height: 45px;
}
.icon {
  	position: absolute;
  	top: 12px;
  	left: 305px;
  	width: 32px;
  	height: 32px;
  	object-fit: cover;
}
.body {
  	position: absolute;
  	top: 64px;
  	left: 0px;
  	width: 393px;
  	height: 723px;
  	overflow: hidden;
}
.div2 {
  	position: absolute;
  	top: 108px;
  	left: 0px;
  	width: 393px;
  	height: 615px;
  	overflow: hidden;
}
.div3 {
  	position: absolute;
  	top: 358px;
  	left: 0px;
  	width: 393px;
  	height: 130px;
  	overflow: hidden;
  	font-size: 10px;
}
.div4 {
  	position: absolute;
  	top: 92px;
  	left: 272px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 39px;
  	height: 17px;
}
.div5 {
  	position: absolute;
  	top: 92px;
  	left: 48px;
  	display: flex;
  	align-items: center;
  	width: 60px;
  	height: 17px;
}
.div6 {
  	position: absolute;
  	top: 53px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 263px;
  	height: 39px;
}
.div7 {
  	position: absolute;
  	top: 54px;
  	left: calc(50% - 148.5px);
  	font-size: 16px;
  	color: #000;
  	display: flex;
  	align-items: center;
  	width: 263px;
  	height: 38px;
}
.b {
  	position: absolute;
  	top: 9px;
  	left: 51px;
  	font-size: 16px;
  	display: flex;
  	color: #000;
  	align-items: center;
  	width: 109px;
  	height: 40px;
}
.div8 {
  	position: absolute;
  	top: 249px;
  	left: 0px;
  	width: 393px;
  	height: 108px;
  	overflow: hidden;
}
.div9 {
  	position: absolute;
  	top: 49px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 128px;
  	height: 39px;
}
.div10 {
  	position: absolute;
  	top: 55px;
  	left: 48px;
  	display: flex;
  	align-items: center;
  	width: 49px;
  	height: 27px;
}
.div11 {
  	position: absolute;
  	top: 49px;
  	left: 183px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 128px;
  	height: 39px;
}
.div12 {
  	position: absolute;
  	top: 55px;
  	left: 185px;
  	display: flex;
  	align-items: center;
  	width: 49px;
  	height: 27px;
}
.b2 {
  	position: absolute;
  	top: 5px;
  	left: 51px;
  	display: flex;
  	color: #000;
  	align-items: center;
  	width: 104px;
  	height: 40px;
}
.div13 {
  	position: absolute;
  	top: 141px;
  	left: 0px;
  	width: 393px;
  	height: 108px;
  	overflow: hidden;
}
.div14 {
  	position: absolute;
  	top: 49px;
  	left: 149px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 95px;
  	height: 39px;
}
.div15 {
  	position: absolute;
  	top: 55px;
  	left: 149px;
  	line-height: 120.47%;
  	display: flex;
  	align-items: center;
  	width: 34px;
  	height: 27px;
}
.div16 {
  	position: absolute;
  	top: 49px;
  	left: 48px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 95px;
  	height: 39px;
}
.div17 {
  	position: absolute;
  	top: 55px;
  	left: 48px;
  	line-height: 120.47%;
  	display: flex;
  	align-items: center;
  	width: 34px;
  	height: 27px;
}
.b3 {
  	position: absolute;
  	top: 5px;
  	left: 51px;
  	line-height: 120.47%;
  	display: flex;
  	color: #000;
  	align-items: center;
  	width: 109px;
  	height: 40px;
}
.div18 {
  	position: absolute;
  	top: 19px;
  	left: 0px;
  	width: 393px;
  	height: 123px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 14px;
  	color: rgba(0, 0, 0, 0.6);
}
.icon2 {
  	position: absolute;
  	top: 71px;
  	left: calc(50% - 60.5px);
  	border-radius: 10px;
  	width: 78px;
  	height: 29px;
}
.b4 {
  	position: absolute;
  	top: 71px;
  	left: 136px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 78px;
  	height: 29px;
}
.b5 {
  	position: absolute;
  	top: 21px;
  	left: 51px;
  	font-size: 16px;
  	display: flex;
  	color: #000;
  	text-align: left;
  	align-items: center;
  	width: 109px;
  	height: 40px;
}
.icon3 {
  	position: absolute;
  	top: 55px;
  	left: 54px;
  	border-radius: 100px;
  	width: 60px;
  	height: 60px;
  	object-fit: cover;
}
.div19 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 108px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 20px;
  	color: #fff;
  	font-family: Inter;
}
.div20 {
  	position: absolute;
  	top: 47px;
  	left: 307px;
  	width: 45px;
  	height: 45px;
}
.child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: rgba(204, 213, 174, 0.4);
}
.div21 {
  	position: absolute;
  	top: calc(50% - 13.5px);
  	left: calc(50% - 14.5px);
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 27px;
}
.div22 {
  	position: absolute;
  	top: 47px;
  	left: 240px;
  	width: 45px;
  	height: 45px;
}
.div24 {
  	position: absolute;
  	top: 46px;
  	left: 174px;
  	width: 45px;
  	height: 45px;
}
.div26 {
  	position: absolute;
  	top: 47px;
  	left: 107px;
  	width: 45px;
  	height: 45px;
}
.div28 {
  	position: absolute;
  	top: 47px;
  	left: 40px;
  	width: 45px;
  	height: 45px;
}
.child2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: #ccd5ae;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.b6 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 85.5px);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 171px;
  	height: 33px;
}

