.div {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fbfcea;
  	overflow: hidden;
  	text-align: left;
  	font-size: 10px;
  	color: #000;
  	font-family: 'Noto Sans JP';
}
.bottom {
  	position: absolute;
  	top: 799px;
  	left: 0px;
  	width: 393px;
  	height: 53px;
  	overflow: hidden;
}
.body {
  	position: absolute;
  	top: 64px;
  	left: 0px;
  	width: 393px;
  	height: 735px;
  	overflow: hidden;
}
.post {
  	position: absolute;
  	top: 46px;
  	left: 18px;
  	border-radius: 10px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 357px;
  	height: 212px;
  	overflow: hidden;
}
.div2 {
  	position: absolute;
  	top: 191px;
  	left: 11px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 304px;
  	height: 16px;
  	flex-shrink: 0;
}
.div3 {
  	position: absolute;
  	top: 187px;
  	left: 328px;
  	font-size: 13px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 25px;
  	flex-shrink: 0;
}
.div4 {
  	position: absolute;
  	top: 162px;
  	left: 11px;
  	font-size: 11px;
  	font-family: 'Kosugi Maru';
  	display: inline-block;
  	width: 329px;
  	height: 29px;
  	flex-shrink: 0;
}
.photo3Icon {
  	position: absolute;
  	top: 35px;
  	left: 261px;
  	width: 96px;
  	height: 120px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.photp2Icon {
  	position: absolute;
  	top: 35px;
  	left: 134px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.photo1Icon {
  	position: absolute;
  	top: 35px;
  	left: 8px;
  	width: 120px;
  	height: 120px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon {
  	position: absolute;
  	top: 2px;
  	left: 332px;
  	width: 22px;
  	height: 24px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon2 {
  	position: absolute;
  	top: -4px;
  	left: 304px;
  	width: 36px;
  	height: 36px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.div5 {
  	position: absolute;
  	top: 8px;
  	left: 12px;
  	font-size: 15px;
  	font-family: 'Kosugi Maru';
  	display: flex;
  	align-items: center;
  	width: 292px;
  	height: 16px;
  	flex-shrink: 0;
}
.div6 {
  	position: absolute;
  	top: 3px;
  	left: 0px;
  	width: 393px;
  	height: 34px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 11px;
}
.icon3 {
  	position: absolute;
  	top: 4px;
  	left: 360px;
  	border-radius: 100px;
  	width: 24px;
  	height: 24px;
  	object-fit: cover;
}
.div7 {
  	position: absolute;
  	top: 4px;
  	left: 199px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 94px;
  	height: 24px;
  	overflow: hidden;
}
.div8 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 94px;
  	height: 24px;
}
.div9 {
  	position: absolute;
  	top: 4px;
  	left: 145px;
  	border-radius: 5px;
  	background-color: #ccd5ae;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 43px;
  	height: 24px;
  	overflow: hidden;
}
.div10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 43px;
  	height: 24px;
}
.div11 {
  	position: absolute;
  	top: 4px;
  	left: 65px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 69px;
  	height: 24px;
  	overflow: hidden;
}
.div12 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 69px;
  	height: 24px;
}
.div13 {
  	position: absolute;
  	top: 4px;
  	left: 11px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 43px;
  	height: 24px;
  	overflow: hidden;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 22px;
  	font-family: 'M PLUS 2';
}
.headChild {
  	position: absolute;
  	top: 63.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 394px;
  	height: 1px;
}
.spotjam {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 64px;
}
.menuIcon {
  	position: absolute;
  	top: 19px;
  	left: 13px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}

