.post2 {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #fbfcea;
  	overflow: hidden;
  	text-align: left;
  	font-size: 13px;
  	color: #000;
  	font-family: 'Kosugi Maru';
}
.body {
  	position: absolute;
  	top: 63px;
  	left: 0px;
  	width: 393px;
  	height: 789px;
  	overflow: hidden;
}
.post {
  	position: absolute;
  	top: 10px;
  	left: 11px;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 371px;
  	height: 763px;
  	overflow: hidden;
}
.div {
  	position: absolute;
  	top: 736px;
  	left: 342px;
  	font-family: 'Noto Sans JP';
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 29px;
  	height: 25px;
  	flex-shrink: 0;
}
.div2 {
  	position: absolute;
  	top: 739px;
  	left: 32px;
  	font-size: 12px;
  	display: flex;
  	align-items: center;
  	width: 305px;
  	height: 19px;
  	flex-shrink: 0;
}
.icon {
  	position: absolute;
  	top: 739px;
  	left: 10px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.div3 {
  	position: absolute;
  	top: 719px;
  	left: 32px;
  	font-size: 12px;
  	display: flex;
  	align-items: center;
  	width: 305px;
  	height: 19px;
  	flex-shrink: 0;
}
.icon2 {
  	position: absolute;
  	top: 718px;
  	left: 10px;
  	width: 18px;
  	height: 18px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.div4 {
  	position: absolute;
  	top: 414px;
  	left: 14px;
  	font-size: 14px;
  	display: inline-block;
  	width: 347px;
  	height: 254px;
  	flex-shrink: 0;
}
.div5 {
  	position: absolute;
  	top: 376px;
  	left: 333px;
  	font-size: 10px;
  	color: rgba(0, 0, 0, 0.5);
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 28px;
  	height: 18px;
  	flex-shrink: 0;
}
.div6 {
  	position: absolute;
  	top: 376px;
  	left: 14px;
  	font-weight: 500;
  	font-family: 'Noto Sans JP';
  	display: inline-block;
  	width: 308px;
  	height: 18px;
  	flex-shrink: 0;
}
.icon3 {
  	position: absolute;
  	top: 46px;
  	left: 10px;
  	width: 351px;
  	height: 326px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.shokumiTenkaHotpot {
  	position: absolute;
  	top: 27px;
  	left: 11px;
  	display: flex;
  	align-items: center;
  	width: 350px;
  	height: 18px;
  	flex-shrink: 0;
}
.icon4 {
  	position: absolute;
  	top: -3px;
  	left: 334px;
  	width: 34px;
  	height: 34px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon5 {
  	position: absolute;
  	top: 2px;
  	left: 319px;
  	width: 22px;
  	height: 24px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.icon6 {
  	position: absolute;
  	top: -4px;
  	left: 291px;
  	width: 36px;
  	height: 36px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.div7 {
  	position: absolute;
  	top: 3px;
  	left: 31px;
  	font-size: 10px;
  	font-weight: 600;
  	font-family: 'Noto Sans JP';
  	display: flex;
  	align-items: center;
  	width: 70px;
  	height: 20px;
  	flex-shrink: 0;
}
.icon7 {
  	position: absolute;
  	top: 4px;
  	left: 9px;
  	width: 20px;
  	height: 20px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.div8 {
  	position: absolute;
  	top: 24px;
  	left: 14px;
  	border-radius: 5px;
  	background-color: #fbfcea;
  	border: 1px solid rgba(0, 0, 0, 0.5);
  	box-sizing: border-box;
  	width: 343px;
  	height: 123px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 10px;
  	font-family: 'Noto Sans JP';
}
.icon8 {
  	position: absolute;
  	top: 98px;
  	left: calc(50% + 106.5px);
  	border-radius: 5px;
  	width: 54px;
  	height: 20px;
}
.b {
  	position: absolute;
  	top: 98px;
  	left: 278px;
  	display: flex;
  	color: rgba(0, 0, 0, 0.6);
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 54px;
  	height: 20px;
}
.div9 {
  	position: absolute;
  	top: 23px;
  	left: 8px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	box-sizing: border-box;
  	width: 324px;
  	height: 72px;
  	overflow: hidden;
  	font-family: 'M PLUS 1';
}
.div10 {
  	position: absolute;
  	top: 2px;
  	left: 3px;
  	display: inline-block;
  	width: 213px;
  	height: 68px;
}
.icon9 {
  	position: absolute;
  	top: 2px;
  	left: 318px;
  	width: 17px;
  	height: 16px;
  	object-fit: cover;
}
.div11 {
  	position: absolute;
  	top: 2px;
  	left: 8px;
  	font-size: 11px;
  	font-weight: 500;
  	font-family: 'M PLUS 2';
  	display: flex;
  	align-items: center;
  	width: 154px;
  	height: 21px;
}
.head {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 393px;
  	height: 64px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 22px;
  	font-family: 'M PLUS 2';
}
.spotjam {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 393px;
  	height: 64px;
}
.headChild {
  	position: absolute;
  	top: 63.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 394px;
  	height: 1px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}

